* {
  margin: 0;
  padding: 0;
}

.MI-PRIMERA-SECTION {
  padding: calc(50vh - .8em) 80px;
  text-align: center;
  font-size: 5em;
  color: pink;
  background-color: bisque;
}


.section3 {
  background-color: black;
}

.section3 article h3 {
  position: absolute;
  z-index: 4000;
  color: white;
  text-align: center;
  font-size: 4em;
  margin-top: 40px;
  width: 100%;
}

.section3 article img {
  position: absolute;
  width: 80%;

}

.section3 .article2 {
  padding-left: 20%;
  margin-left: 80%;
}

.section3 .article3 {
  padding-left: 20%;
  margin-left: 180%;
  text-align: left;
}

.section3 article h3 {
  font-size: 4em;
  color: black
}